.navbar:hover {
  color: rgb(254, 157, 157);
}

.section{
  height: 100%;
}

.heading h1 , p , button{
  padding: 30px ;
  text-align: left;
  margin: 10px 0;
}

#span{
  font-weight: 700;
  word-spacing: .2rem;
}